.App {
    text-align: center;
}

.QuizPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Question {
    margin-bottom: 50px;
    color: whitesmoke;
}

.AnswerBox {
    display: flex;
    height: 300px;
    width: 50%;
    padding: 15px;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    background-color: azure;
    border-radius: 10px;
}

.AnswerButton {
    margin: 0 15px;
    width: 400px;
    height: 100px;
    border-radius: 5px;

    /*TODO: set based on the amount of text*/
    font-size: 16px;
}
.EndScreen{
    color: whitesmoke;
}