.App {
    text-align: center;
}

.QuizPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Question {
    margin-bottom: 50px;
    color: whitesmoke;
}

.AnswerBox {
    display: flex;
    height: 300px;
    width: 50%;
    padding: 15px;

    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    background-color: azure;
    border-radius: 10px;
}

.AnswerButton {
    margin: 0 15px;
    width: 400px;
    height: 100px;
    border-radius: 5px;

    /*TODO: set based on the amount of text*/
    font-size: 16px;
}

.EndScreen {
    color: whitesmoke;
}

.AddQuestionPage {
    background-color: whitesmoke;
    width: 60%;
    height: 500px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.AddQuestionPage .AnswerInputBox, .QuestionInputBox {
    background-color: #282c34;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.QuestionInputBox input {
    width: 90%;
    /*height: 80%;*/
    border: 0px;
    padding: 3px;
    border-radius: 5px;
}

.QuestionInputBox input::placeholder{
    text-align: center;
}


.AnswerInputBox input[type=text] {
    width: 200px;
    border: 0px;
    padding: 3px;
    border-radius: 5px;

}
.AnswerInputBox input[type=text]::placeholder{
    text-align: center;
}

.AnswerInputBox input[type=checkbox] {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1

}